.profile {
    display: flex;
    height: 77vh;
    margin-top: 1rem;
}

.p-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}

.p-right {
    display: flex;
    flex: 1;
    position: relative;
    justify-content: flex-end;
}

.p-right>:nth-child(1) {
    width: 70%;
}

.p-description {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.p-description>:nth-child(1) {
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    color: #25313D;
}

.p-description>:nth-child(2) {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 134.5%;
    text-align: justify;
    color: #49535D;
}

.p-button {
    width: 300px;
    height: 80px;
    left: 0px;
    top: 480px;
    margin-top: 52px;
    background: linear-gradient(180deg, #25313D 0%, #192129 100%);
    border-radius: 24px;
    border: none;
    color: #FFFFFF;
}

.p-button:hover {
    width: 300px;
    height: 80px;
    left: 0px;
    top: 480px;
    margin-top: 52px;
    background: #F3F0FD;
    border-radius: 24px;
    color: #192129;
    outline-color: #192129;
    outline-style: auto;
}

.p-button-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
}

@media (max-width: 768px) {
    .p-description {
        width: auto;
    }

    .p-description>:nth-child(1) {
        font-weight: 700;
        font-size: 48px;
        line-height: 110%;
        color: #25313D;
    }

    .p-description>:nth-child(2) {
        font-weight: 400;
        font-size: 12px;
        line-height: 134.5%;
        text-align: justify;
        color: #49535D;
    }

    .p-button {
        width: auto;
        height: 60px;
        left: 0px;
        top: 480px;
        margin-top: 24px;
        background: linear-gradient(180deg, #25313D 0%, #192129 100%);
        border-radius: 18px;
        border: none;
        color: white;
    }

    .p-button:hover {
        width: auto;
        height: 60px;
        left: 0px;
        top: 480px;
        margin-top: 24px;
        background: #F3F0FD;
        border-radius: 24px;
        color: #192129;
        outline-color: #192129;
    }

    .p-button-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 110%;
    }

    .p-left {
        flex: 48rem;
    }

    .p-right {
        flex: 1;
        position: relative;

    }

    .p-right>:nth-child(1) {
        margin: auto;
    }

}