.floating-div{
    justify-content: space-around;
    display: flex;
    align-items: center;
}
/* .floating-div>:nth-child(1) {
    justify-content: space-around;
    display: flex;
    box-shadow: var(--secondary);
    margin-left: 18rem;
    margin-top: -11rem;
}

.floating-div>:nth-child(2) {
    justify-content: space-around;
    display: flex;
    box-shadow: var(--secondary);
    margin-left: 14rem;
    margin-top: 4rem;
} */

/* @media (max-width: 768px) {
    .floating-div>:nth-child(1) {
        justify-content: space-around;
        display: flex;
        box-shadow: var(--secondary);
        margin-left: 10rem;
        margin-top: -16rem;
        width: 36%;
    }
    
    .floating-div>:nth-child(2) {
        justify-content: space-around;
        display: flex;
        box-shadow: var(--secondary);
        margin-left: 8rem;
        margin-top: 2rem;
        width: 36%;
    }
} */
